

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" 
         data-parent="#referral_accordian" href="#collapse<%= referral_accordian_counter%>">
        <%= referral_accordian.one_line %>
      </a>
    </div>
    <div id="collapse<%= referral_accordian_counter%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= referral_accordian.summary %>
      </div>
    </div>
  </div>
            

