<%= provide(:title, 'All Referrals') %>
<h1>All Referrals</h1>

<ul class="referral">
    <%= render(partial: "shared/referral", 
                             collection: current_attorney.referrals) || 
                             "You have not created any referrals yet!" %>  
</ul>

<%= will_paginate @referrals%>

