<footer class="footer">
  <small>
   Turnee: We make it easier for you to be an attorney
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", '#' %></li>
    </ul>
  </nav>
</footer>
